.leaflet-popup-content {
    margin: 0;
    background-color: transparent;
}
.leaflet-popup-content-wrapper {
    background-color: transparent;
    box-shadow: 0 0 0 0;
    padding: 0;
}

.leaflet-popup-tip {
    background-color: #3f51b5;
}

.leaflet-popup {
    margin-bottom: 10px;
}